# traveltag-cms-chart/templates/service.yaml
apiVersion: v1
kind: Service
metadata:
  name: {{ include "helm-chart.fullname" . }}-service
  labels:
    {{- include "helm-chart.labels" . | nindent 4 }}
spec:
  type: {{ .Values.service.type }}
  ports:
    - port: {{ .Values.service.port }}
      targetPort: {{ .Values.service.targetPort }}
      protocol: TCP
      name: http
  selector:
    {{- include "helm-chart.selectorLabels" . | nindent 4 }}
    component: app
